$bg-color : #eee;
$titulo : #333;
$main-color: #fff;

.container{
    background-color: $bg-color;
    padding:20px;
    #titulo{
        background-color: $titulo;
        color:$main-color;
        text-align:center;
        padding:10px;
    }
}

.container-bottom{
    background-color: blue;
    padding:50px;
    text-align: center;
}